*{
	padding: 0px;
	margin: 0px;
	font-family: monospace;
}

.header{
	color: white;
	background-color: blue;
	height: 5rem;
	position: fixed;
     text-align: center;
     width: 100%;
     top: 0px;
     font-size: 60px
}

ul{
	width: 100%;
	margin-top:80px;
	list-style: none;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}
li{
	background-color: blue;
  color: white;
  font-size: 30px;
  margin: 10px 0px 0px 10px;
  padding: 10px;
  border-radius: 20px;
}
form{
		position: fixed;
	bottom: 0px;
	width: 100%	
}
#input{
	font-size: 30px;
	width: 85%;
}
.footer{
	height: 10vh;
}
.submit{
     font-size: 30px;
	color: white;
	background-color: blue;
	width: 14%
}
#reg{
	background-color: blue;
	text-align: center;
	
	font-size: 20px;
	position: static;
    width: 50%;
    color: white;
    margin: auto;
    margin-top: 250px;
    padding: 20px 0px;
}
#reg input{
	width: 40%;
	height: 20px;
}
#log{
	background-color: blue;
	text-align: center;
	
	font-size: 20px;
	position: static;
    width: 50%;
    color: white;
    margin: auto;
    margin-top: 250px;
    padding: 20px 0px;
}
#log input{
	width: 40%;
	height: 20px;
}
.exit{
	font-size: 25px;
	position: fixed;
	top: 10px;
	right: 10px;
}